    <!-- Writing Section -->
    <section id="writing" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Writing</h2>

                {% for article in site.data.articles %}

                <div class="col-lg-6">
                    <a href="{{ article.url }}" target="_blank">
                    <div style="height: 300px; background: url({{site.baseurl}}/img/article-images/{{article.img}}) no-repeat bottom center scroll; background-color: {{ site.color.primary-light }}; background-size: 300px 300px;"></div>
                    <p>"{{article.title}}"                    </a><br>
                        <em>{{article.publication}}</em></p>

                </div>
                {% endfor %}


            </div>

        </div>

    </section>